!!! 5
html
	head
		title= title
		script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js")
		script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.js")
		script(type="text/javascript", src="/javascripts/socket.io.min.js")
		script(type="text/javascript", src="/javascripts/socket.io.js")
		script(type="text/javascript", src="/javascripts/bridge.js")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bridge.css')
	body
		#header
			h1= title
		#container
			#chat
			#game
				#hand.hand
				#lefthand.hand.vert
				#righthand.hand.vert
				#opphand.hand
				#bidbox
					- var suits = [ '♣', '♦', '♥', '♠' ] 
					- for (i = 0; i < 28; i++)
						a.bid(id='#{i}' href='#')= Math.ceil(i / 4) + suits[i % 4] 
					a#28.bid(href='#') pass
					a#29.bid(href='#') double
					a#30.bid(href='#') redouble